@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --blue: rgb(43, 71, 163);
  --light-blue: rgb(150, 184, 255);
  --red: rgb(199, 72, 72);
  --dark-blue: rgb(26, 34, 58);
}

body {
  margin: 0;
}

.highlight:hover {
  filter: brightness(1.1);
}

a.logo {
  background: var(--blue);
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  transition: 0.3s ease-out;
  position: relative;
}

.scroll a.logo {
  padding: 0.5rem 1rem;
  margin-block: 0.5rem;
  /* border-radius: 0; */
}

a.logo b {
  font-weight: 800;
}

a.logo::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  background: var(--blue);
  transition: 0.4s ease-in-out;
  border-radius: 50%;
  z-index: -1;
}

.scroll a.logo::after {
  /* width: 300vw; */
  /* height: 150vw; */
}

.container {
  max-width: 90rem;
  margin: auto;
  padding-inline: 2rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  background: white;
  margin: auto;
  width: 100%;
  transition: 0.1s ease-out;
  overflow: hidden;
}

header.scroll {
}

header.scroll .header-top {
  padding-block: 0px;
}

main {
  /* Offset fixed header */
  padding-top: 92px !important;
}

.header-top {
  padding-block: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  transition: 0.1s ease-out;
}

.search-input {
  display: flex;
  transition: 0.1s ease-out;
}

.search-input:has(input:focus) button {
  background: var(--light-blue);
  border-color: var(--light-blue);
  color: white;
}

.header-top form input {
  border-radius: 1.5rem 1.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  min-width: 20rem;
  width: auto;
  display: block;
}

.header-top form input:focus {
  outline: none;
}

.header-top form button::before {
  content: "";
  display: inline;
  font-family: "Courier New", Courier, monospace;
}
.header-top form button {
  border-radius: 0 1.5rem 1.5rem 0;
  padding-inline: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-out;
  border-left: 0;
  background: none;
}

.search-input:hover button {
  /* background: var(--light-blue);
  border-color: var(--light-blue);
  color: white; */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header-right .header-links {
  display: flex;
  gap: 2rem;
}

.header-right .header-links a {
  /* text-transform: uppercase; */
  text-decoration: none;
  /* letter-spacing: 0.15em; */
  font-weight: 600;
  display: inline-block;
  position: relative;
  font-size: 0.8rem;
  color: black;
  transition: 0.4s ease-in-out;
}
.header-right .header-links a.highlight {
  color: var(--red);
}

.header-right .header-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--blue);
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.header-right .header-links a:hover:after {
  width: 100%;
  left: 0;
}

.header-right .header-links a.highlight:after {
  background: var(--red);
}

#shopping-cart img {
  padding: 1rem;
  border-radius: 50%;
  transition: 0.1s ease-out;
}

#shopping-cart:hover img {
}

.header-bottom {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header-bottom a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}
.header-bottom a.standard span {
  padding-bottom: 0.5rem;
  transition: 0.1s ease-out;
  box-shadow: 0 2px transparent;
}
.header-bottom a.standard:hover span {
  /* transform: scale(1.1); */
  box-shadow: 0 2px var(--blue);
}

.header-bottom a.highlight {
  background: var(--light-blue);
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 1.5rem;
  transition: 0.1s ease-out;
}

.header-bottom a.highlight:hover {
  opacity: 0.9;
}

.feat-prod_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 1050px) {
  .feat-prod_wrap {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.feat-prod p,
.feat-prod h3 {
  margin: 0;
}

.feat-prod {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feat-prod_image-wrap {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.feat-prod img {
  width: 100%;
  transition: 0.1s ease-out;
}

.feat-prod_sale,
.feat-prod_discount {
  font-weight: bold;
  color: var(--red);
  font-size: 0.9rem;
}

.feat-prod_bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.feat-prod_old {
  font-size: 0.7rem;
  margin-inline: 0.5rem;
}

.feat-prod_category {
  color: white;
  background: var(--light-blue);
  max-width: fit-content;
  padding: 0.4rem 0.6rem;
  border-radius: 0.8rem;
  font-size: 0.8rem;
}

.feat-prod:hover {
  background: rgb(247, 247, 247);
  cursor: pointer;
}

.feat-prod:hover img {
  transform: scale(1.1);
}

.feat-prod:hover h3 {
  text-decoration: underline;
}

.feat-prod .loading {
  display: none;
}

footer {
  background: var(--dark-blue);
  padding-block: 3rem;
  color: white;
  margin-top: 5rem;
}

footer a {
  color: var(--light-blue);
  text-decoration: none;
}

footer .logo {
  background: none;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product_image-wrap {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.product_image-wrap img {
  height: 100%;
  width: 100%;
  transition: 0.1s ease-out;
}

/* Embla slider */
.embla {
  container-type: inline-size;
  overflow: hidden;
}
.embla__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 14.4%;
}

@container (max-width: 1000px) {
  .embla__container {
    grid-auto-columns: 20.5% !important;
  }
}

@container (max-width: 700px) {
  .embla__container {
    grid-auto-columns: 34% !important;
  }
}

@container (max-width: 450px) {
  .embla__container {
    grid-auto-columns: 110% !important;
  }
}

.embla__slide {
  min-width: 0;
  margin-right: 1rem;
}

.product-slider {
  position: relative;
}

.product-slider .embla__prev {
  top: 38%;
  transform: translateY(-75%) rotate(180deg);
  left: 1rem;
}

.product-slider .embla__prev:active {
  transform: translateY(-75%) rotate(180deg) scale(0.9);
}

.product-slider .embla__next {
  top: 38%;
  transform: translateY(-50%);
  right: 1rem;
}

.product-slider .embla__next:active {
  transform: translateY(-50%) scale(0.9);
}
.product-slider_button {
  position: absolute;
  outline: none;
  background: none;
  border: none;
}

.product-slider_button:hover {
  cursor: pointer;
}

.product-slider_button svg {
  transform: scale(2);
  fill: rgba(44, 44, 44, 0.63);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.74));
  transition: 0.1s ease-out;
}

.product-slider_button svg:hover {
  fill: rgb(226, 226, 226);
}

.product strong,
.product p {
  margin: 0;
}

.product_bottom {
  padding: 0.8rem;
}

.product strong {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  max-height: 1lh;
}

.product_price {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.product:hover {
  background: rgb(247, 247, 247);
  cursor: pointer;
}

.product:hover img {
  transform: scale(1.1);
}

.product:hover strong {
  text-decoration: underline;
}

.product_category {
  color: white;
  background: var(--light-blue);
  max-width: fit-content;
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  font-size: 0.7rem;
  display: block;
  margin-block: 0.5rem !important;
}

.product_sale {
  color: var(--red);
  font-weight: bold;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 3rem;
}

@media (max-width: 1000px) {
  .product-list {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media (max-width: 600px) {
  .product-list {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 400px) {
  .product-list {
    grid-template-columns: 1fr !important;
  }
}
